<h1>Room Ninja Account Activation</h1>

<p>
  Greetings...
</p>

<p>
  You have recently requested an activation email to be resent. In order to activate you account and get access to all
  room ninja features follow this <%= link_to 'link', activate_mutate_user_url(@user.activation_token) %> and your account
  will be activated immediately.
</p>

<p>
  Footer...
</p>
