<h1>Welcome to Room Ninjas</h1>

<p>
  Greetings...
</p>

<p>
  Before you can use our booking service you must first activate your account. If you have not registered to be a
  member on our website ignore this email otherwise use this <%= link_to 'link', activate_mutate_user_url(@user.activation_token) %> to activate your account.
</p>

<p>
  Footer...
</p>