<% current_user.bookings.in_groups_of(3) do |slice| %>
  <div class="row">
    <% slice.each do |b| %>
      <% next if b.nil?%>

      <div class="col-lg-12">
        <div class="well well-sm">
          <h3><%= b.room.name %></h3>
          Begin: <%= b.begin.to_s(:british_datetime) %><br>
          End: <%= b.end.to_s(:british_datetime) %>
        </div>
      </div>
    <% end %>
  </div><br>
<% end %>