<% f.each do |b| %>
  <% next if b.nil? %>
  <div class="col-sm-4">
    <div class="well well-sm">
      <h3><%= b.name %></h3>

      <%= form_for [b.booking_days.find_by(day: BookingDay::DAYS[@current.wday]), @booking_time], remote: true do |form| %>
        <%= hidden_field_tag :name, b.name %>
        <%= form.submit 'Book', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

