<div id="room-id-<%= f.id %>" class="well well-sm">
  <h3><%= f.name %></h3>

  <% booking_day = f.booking_days.find_by(day: BookingDay::DAYS[@current_time.wday]) %>
  <%= link_to 'Choose', new_booking_day_booking_time_path(booking_day, room_id: f.id), class: 'btn btn-primary max-width', remote: true %>
</div>