<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Room Ninja</h1>
  </div>

  <div id="content-area">
    <%= render 'buttons' %>
  </div>

  <div id="room-list"></div>
</div>