<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Room Ninja</h1>
  </div>

  <%= link_to 'Find Room Now', bookings_new_path, class: 'btn btn-primary', remote: true %>

  <div id="room-list"></div>
</div>