<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Room Ninja</h1>
  </div>

  <div id="content-area">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="text-center">We Provide</h3>
      </div>
      <div class="col-lg-4">
        <h3 class="text-center">What You Need</h3>
      </div>
      <div class="col-lg-4">
        <h3 class="text-center">How To Use</h3>
      </div>
    </div>
  </div>
</div>