<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Room Ninja</h1>
  </div>

  <div id="content-area">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="text-center">We Provide</h3>
      </div>
      <div class="col-lg-4">
        <h3 class="text-center">What You Need</h3>
      </div>
      <div class="col-lg-4">
        <h3 class="text-center">How To Use</h3>
      </div>
    </div>
  </div>

  <!--<% Room.all.each do |r| %>-->
    <!--<%= r.name %>-->
    <!--<% r.booking_days.each do |bd| %>-->
      <!--<div style="padding-left: 25px">-->
        <!--<%= bd.day %>-->
        <!--<% bd.booking_times.each do |bt| %>-->
          <!--<div style="padding-left: 25px">-->
            <!--Begin: <%= bt.begin.to_s(:time) %>, End: <%= bt.end.to_s(:time) %><br>-->
          <!--</div>-->
        <!--<% end %>-->
      <!--</div><br>-->
    <!--<% end %>-->
  <!--<% end %>-->
</div>