<div class="container">
  <div id="popup-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">N/A</h4>
        </div>
        <div class="modal-body">
          N/A
        </div>
        <div class="modal-footer">
          <div id="confirm-buttons">
            <button id="btn-yes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            <button id="btn-cancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>

          <div id="question-buttons">
            <button id="btn-yes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            <button id="btn-no" type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            <button id="btn-cancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>

          <div id="message-buttons">
            <button id="btn-ok" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>